


html{
  --lh: 1.55rem;
  line-height: var(--lh);
  background-color: rgba(3, 3, 3, 0.692); 
  box-shadow: inset 115px 70px 25px 135px rgba(14, 22, 18, 0.76);

}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




.card-body {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
}



 .details .descr {
  font-size: 10px;
} 


.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc((var(--lh) * var(--max-lines)));
  overflow: hidden;
  padding-right: .01rem; 
  border: none;
}

  .truncate-overflow::before {
    position: absolute;
    content: "…";
    inset-block-end: 0; /* "bottom" */
    inset-inline-end: 0; /* "right" */
  }
  .truncate-overflow::after {
    content: "";
    position: absolute;
    inset-inline-end: 0; /* "right" */
    width: 1rem;
    height: 1rem;
    background: rgba(255, 255, 255, 0.247);
  }

.card-item{
  box-shadow: rgba(0, 0, 0, 0.171) .2px .2px   1px 0px ; 
  background-color: rgba(125, 224, 125, 0.075);
}

 .card-hr {
  color: rgba(102, 95, 95, 0.295) !important;
 } 



#loader {

 display: inline-block;
 margin: auto;
} 

#loader-div{
  display: flex;
  background-color: rgb(1,1,1,0.1);
  display: inline-block;
  margin: auto;

}

 html{
  background-image: url(https://media.giphy.com/media/LpDKmmMdp5rjO/giphy.gif);
  box-shadow: 115px 170px 125px 35px rgba(11, 17, 14, 0.606);
}

body { 
  background-image: url(https://media.giphy.com/media/LpDKmmMdp5rjO/giphy.gif);
  padding: 20px;
 box-shadow: 315px 370px 325px 335px rgba(11, 17, 14, 0.996), 25px 21px 15px 25px rgba(152, 212, 11, 0.541);
 text-align: center;
  overflow-x: hidden;
  background-color: rgba(3,3,3,.05); 
  box-shadow: 115px 70px 25px 135px rgba(24, 39, 30, 0.404);
  box-shadow: inset 115px 70px 25px 135px rgba(14, 22, 18, 0.76);
}


*, .form-control, #page-title #main{
  font-family:   Courier; 
 font-family: ocr a; 
  background-color: rgba(15, 20, 15, .9);
 color: rgba(125, 224, 125, 0.877) !important; 
 border: #7de07de0; 
 box-shadow: 115px 70px 219px 125px rgba(14, 22, 18, 0.11);
}

#page-title{
  font-size: 55px;
  margin-bottom: 45px !important;
  margin-top: 20px;
}


h1{
  text-shadow: .25px .25px 10px rgba(189, 240, 108, 0.658) !important; 
  box-shadow: 9px 6px 18px 11px rgb(22 14 14 / 53%) !important; 
}


 #page{

  background-color: rgba(3,3,3,.05); 
  box-shadow: 5px 670px 225px 385px rgba(19, 18, 8, 0.808);

}   



.card-item .card {
  background-color: rgba(0, 0, 0, 0.555);
 }

 .card-body{
   padding: 15px !important;
 }

 a.btn-link{
color: rgb(0, 0, 255);
text-shadow: rgba(4, 0, 255, 0.9) 1px 1px;
 }

 #searchBtn, .form-control{
  background-color:rgba(21, 24, 15, 0.877)  !important;
  width: 3.5rem;
  border: rgba(63, 95, 41, 0.432) solid 1px;
  padding: 3px;
 }

 #search-form {
  width: 80%;
  display: inline-block;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 15px;
  border: rgba(184, 207, 126, 0.432) solid 1px;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 115px 759px 599px 75px rgba(14, 22, 18, 0.11);

 }

 hr {
   color: rgba(173, 164, 122, 0.486) !important;
 }

 .btn .btn-success {
  margin-top: 11px;

 }

 .nav-tabs{
  border-bottom: rgba(137, 156, 129, 0.418) solid 2px !important;
  padding-bottom: 5px;
 }




