.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 0px;
  left: 2%;
}

.form-container{
  margin: 0  50px;
}
.App-header {
  background-color: #222;
  background: none;
  padding: 0;
  color: white;
}

.App-intro {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.display-results-list{
 padding: 5px;
 max-height: 50vh;
 overflow-x: none;
 overflow-y: scroll;
 white-space:nowrap;
}

li{
  border: rgba(122, 122, 122, 0.281) solid 4px; 
  display: inline-block;
  width: 200px; 
  padding: 20px 50px
}


.display-results-list img,
.display-results-list div {
  max-width: 150px;
  margin: 5px 7px;
}


.search-input search-input{
  margin-bottom: 10px;
}


/* CSS  styling from this project demo (Note: I'm not using the
actually the react-collapse package at this time. */
.text-box{
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  padding: 10px; 
  border: 0px; 
  font-variant-numeric: inherit; 
   font-stretch: inherit; 
   font-size: medium; 
   line-height: inherit; 
   font-family: 'Helvetica Neue', Helvetica, Arial, 
   sans-serif; 
   vertical-align: baseline; 
   color: rgb(0, 0, 0);
}